html {
  background-color: #0b0b23 !important;
}
.header {
  text-align:center;
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.cards-container { 
  padding:20px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  text-align:center;
}

.card {
  margin-left:10px;
  margin-right:10px;
  margin-top:15px;
  width:284px !important;
  height:288px !important;
}

.card-image:first-child img {
  object-position: top;
  object-fit:cover;
}